.Contador input {
    font-size: 1.4rem;
}

.Contador button {
    border: none;
    margin: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #1499d3;
    color: #fff;
    font-size: 1.4rem;
}